.my_primary {
  border-color: purple;
  border-radius: 0.3em;
  border-width: 0.2em;
}
.my_cursor {
  cursor: not-allowed;
}
.my_input {
  border-color: rgb(129, 105, 91);
  box-shadow: -3px -3px 5px white, 3px 3px 5px rgb(82, 78, 78),
    inset 1px 1px 2px rgb(102, 100, 100), inset -1px -1px 2px rgb(226, 136, 136);
  height: 2.5em;
  border-radius: 0.3em;
  border-width: 0.2em;
}
.App {
  width: 100%;

  text-align: center;
}
